@import "./../../styles/colors";
.increment-controller {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  button {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: none;
    span {
      font-size: 2rem;
    }
  }
  button.dec {
    background-color: $medium-grey;
    span {
      color: $heavy-grey;
      position: relative;
      bottom: 22px;
    }
  }
  button.inc {
    background-color: $brown;
    span {
      color: $white;
      position: relative;
      bottom: 10px;
    }
  }
  .count-number {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #121212;
    margin: 0 20px;
    position: relative;
    bottom: 3px;
  }
}
