.accordion-header,
.accordion-button,
.accordion-flush,
.accordion-item,
.accordion-button {
  border: 10px solid red !important;
  border: none; /* Remove border */
  border-radius: 0; /* Remove border-radius if needed */
  /* Add any other styles as needed */
  :focus {
    border: 10px solid red !important;
    border: none; /* Remove border */
    border-radius: 0; /* Remove border-radius if needed */
    /* Add any other styles as needed */
  }
}
.b2 {
  border: 10px solid red !important;
}
