@import "./styles/master";
@import "./styles/fonts";

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  font-style: "normal";
}
.card {
  width: 100% !important;
}
* {
  @include base-font;
}

/* Add additional styling as needed */

// COLORS
