@import "./../../styles/colors";
.info {
  background-color: $light-grey;
  padding: 25px;
  line-height: 80%;
  .badge {
    padding: 0px;
    width: 100%;
    text-align: center;
    color: $brown;
    font-size: 1rem;
    text-decoration: underline;
  }
}
