@import "./../../styles/_mixins.scss";
@import "./../../styles/_colors.scss";

@media (max-width: 576px) {
  .modal-dialog {
    /* Your styles for small screens go here */
    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 0%;
  }
  .modal-content {
    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 0%;
  }
}
.cardSubTitle {
  font-weight: 600;
}
.header-title {
  .close {
    display: none;
  }
}

.header-close-button {
  position: absolute;
  top: 30px;
  right: 5px;
  border: none;
  .close {
    border: none;
    @include round;
    // width: 20px;
    // height: 20px;
    padding-bottom: 3px;
    position: relative;
    left: 1px;
    font-size: 1.7rem !important;
    font-weight: 300;
    line-height: 80%;
  }
}
.btn-round {
  @include btn-border-radius;
  background-color: $brown;
}

.form-check {
  display: flex;
  flex-direction: column;
}

.radio-form {
  display: flex;
  justify-content: space-between;
}

.mod-form {
  margin-top: 25px;
  font-weight: 900;
  span {
    font-weight: normal;
    display: block;
  }
}

.button-buy {
  width: 100%;
}
