@import "./../../styles/colors";

.wrap-form {
  margin-top: 10px;
  border-left: 0px;
  border: 2px solid $grey;

  border-radius: 8px;
  overflow: hidden;
}
.form-control {
  background-color: transparent;
  border-left: 0px;
}
.input-group-text {
  background-color: transparent;
  border-right: 0px;
}

#basic-addon1 {
  background-color: transparent;
  border-right: 0px;
}
